---
// yes this is empty
---
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet" />
</head>

<body>
  <main>
    <nav class="navbar bg-base-100">

      <div class="navbar-start">
        <div class="dropdown">
          <!-- this is an icon ok -->
          <label tabindex="0" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
            </svg>
          </label>

          <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
            <li><a>ABOUT</a></li>
            <li><a>EXPERIENCE</a></li>
            <li><a>PROJECTS</a></li>
            <li><a>CONTACT</a></li>
          </ul>

        </div>
        <a class="btn btn-ghost normal-case text-xl">MUSTAFA</a>
      </div>

      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal justify-evenly p-0 ">
          <li class="min-w-[10rem]"><a>ABOUT</a></li>
          <li class="min-w-[10rem]"><a>EXPERIENCE</a></li>
          <li class="min-w-[10rem]"><a>PROJECTS</a></li>
          <li class="min-w-[10rem]"><a>CONTACT</a></li>
        </ul>
      </div>

      <div class="navbar-end">
        <a class="btn">Contact Me!</a>
      </div>
    </nav>

    <div class="flex flex-col mt-8 mx-8 sm:mx-12 md:mx-24 lg:mx-40 xl:mx-auto xl:max-w-4xl ">
      <slot />
    </div>
  </main>
</body>

</html>
